name: NPM Test
on: [push]
jobs:
  npm_test:
    if: "!contains(github.event.head_commit.message, 'skip ci')"
    name: Run NPM Test
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v1
      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 16
          cache: "yarn"
      - name: Run NPM Install
        run: yarn install --frozen-lockfile
      - name: Run NPM Test
        run: yarn test
